/pretrained_models
/node_modules
/myenv
/build
/dist
/speechbrain_project/pretrained_models
/speechbrain_project/speechbrain_env
.DS_Store
/wisperx/venv
/wisperx/build
/wisperx/dist/*
/wisperx/wisperx_model
/wisperx/transcribe.spec
/src/assets/wisperx_model
/src/assets/transcribe
/sample-audios
